#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.attractive-heading {
  font-family: 'Poppins', sans-serif; /* Use a modern font */
  font-size: 3rem; /* Adjust size for prominence */
  font-weight: bold; /* Make it bold */
  color: aliceblue; /* A visually appealing color */
  text-transform: uppercase; /* Make the text uppercase */
  letter-spacing: 2px; /* Add spacing between letters */
}

